<%- errorMessagesFor(filter) %>
<div class="control-group">
   <%- form.label("Filter Name", false, {class: "control-label"}) %>
    <div class="controls">
	<% if (!filter.isNew) { %> 
		<!-- <%- form.input("_id", {type:"hidden"}) %> -->
		<h4><%=filter.filterName %></h4>
		<% }else{ %>
			<%- form.input("filterName") %>
		<%} %>
   </div>
</div>
<div class="control-group">
   <%- form.label("Sensor Name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("sensorName") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("Upper Limit", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("upperLimit") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("Lower Limit", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("lowerLimit") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("Custom Message", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.textarea("customMessage") %>
   </div>
</div>
<div class="control-group">
   <div class="controls">
		<%- form.input("isActive", {type: 'checkbox', value: 'true', id:"is_active", style:"display:none"}) %>
		<a class="btn btn-success" id="is_active_field" data-toggle="button">Active</a>	
		<script>
			$(function(){
				$("#filter_edit_form").submit(function(){
					$("#is_active").value=($("#is_active_field").hasClass('active'))?"true":"false"
				})
			})
		</script>
   </div>
</div>

