<div class="span12">
	<div class="well">
		<h1>Active Filters</h1>
		<hr />
		<% if(user_filters.length==0) { %>
			<p class="muted"> No filters configured yet. Create your first filter <a href="/filters/new_filter">here</a></p>
		<% }
		else{ %>
            	<table class="table table-striped">
		            <thead>
		                <tr>
		                    <th>#</th>
							<th><span class="muted">Sensor id</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Filter Name</th>
							<th>Status</th>
		                    <th><i class=" icon-cog"></i> Actions</th>
		                </tr>
		            </thead>
		            <tbody>
					<% user_filters.forEach(function(filter,i){ %>
		                    <tr>
								<td><a href="/filters/edit_filter/<%=filter._id%>" class="icon-edit"></i></a></td>
                        		<td><span class="muted"><%=filter.sensorName%></span> <strong><%=filter.filterName %></strong></td>
								<td>
								<% if (filter.isActive) { %>
								<span class="label label-success" id="<%=filter._id%>_value"><%=Math.round(filter.currentValue*Math.pow(10,3))/Math.pow(10,3)%></span>
								<script>
									window.setInterval(_<%=filter._id%>, 1000);
										function _<%=filter._id%>() {
											$.getJSON('/filters/get_value/<%= filter._id%>', function(data) {
												$("#<%=filter._id%>_value").html(Math.round(data.currentValue*Math.pow(10,3))/Math.pow(10,3));
												if(data.status !='normal'){
													$("#<%=filter._id%>_value").addClass("label-important")
													$("#<%=filter._id%>_value").removeClass("label-success")
												}
												else{
													$("#<%=filter._id%>_value").removeClass("label-important")
													$("#<%=filter._id%>_value").addClass("label-success")
												}
											});
										}
								</script>
								<% } %>
								</td>
		                        <td>
		                            <a href="#" class="btn btn-mini <%= (filter.isActive)? "active": "" %>" id="activate_filter_<%= filter._id%>"><i class="icon-off"></i> <span class="status"><%= (filter.isActive)? "Deactivate": "Activate" %></span></a>
									<script>
										$(function(){
											$("#activate_filter_<%= filter._id%>").click(function(){
												var element=$(this)
												if($(".status", $(this)).html()=='Deactivate'){
													$.getJSON('/filters/activate/<%= filter._id%>/false', function(data) {
														if(data.result=='success'){
															$(".status", element).html("Activate");
															element.closest('tr').remove();
														}
													});
												}
											});
										});
									</script>
		                            <!--a href="#" class="btn btn-mini btn-danger"><i class="icon-remove icon-white"></i> Delete</a-->
		                        </td>
		                    </tr>
		                <% }); %>
		            </tbody>
		        </table>
<% } %>
	</div>
</div>