<div class="span12">
	<div class="well">
		<h1>Edit Filter</h1>
		<hr />
		<% form_for(filter, {action: '/filters/save_filter/'+filter._id, method: 'POST', id: "filter_form", class: 'form-horizontal', id:"filter_edit_form"}, function (form) { %>
		    <%- partial('filter_management/form.ejs', {locals: {form: form, filter: filter}}) %>
		    <div class="form-actions">
		<a href="/filters/delete_filter/<%= filter._id%>" class='btn btn-danger pull-right'><i class="icon-remove icon-white"></i> Remove filter</a>
<span class="pull-right">&nbsp;&nbsp;&nbsp;</span><%- form.submit('<i class="icon-ok icon-white"></i> Save filter', {class: 'btn btn-primary pull-right'}) %>
		    </div>
		<% });%>
	</div>
</div>