<div class="span12">
	<div class="well">
		<h1>New Filter</h1>
		<hr />
		<% form_for(filter, {action: '/filters/new_filter', method: 'POST', id: "filter_form", class: 'form-horizontal', id:"filter_edit_form"}, function (form) { %>
		    <%- partial('filter_management/form.ejs', {locals: {form: form, filter: filter}}) %>
		    <div class="form-actions">
		        <%- form.submit('<i class="icon-ok icon-white"></i> Create filter', {class: 'btn btn-primary pull-right'}) %>
		    </div>
		<% });%>
	</div>
</div>