<div class="well span5 offset3">
		<% form_for(current_user, {action: '/filters/save_notification_settings', method: 'POST', class: 'form-horizontal'}, function (form) { %>
			<fieldset>
			<legend class="center">Notification Settings</legend>
			<div class="control-group">
			   <%- form.label("Notification Path", false, {class: "control-label"}) %>
			   <div class="controls">
					<%- form.input("User[notificationSettings][notificationPingPath]", {'value':notification_settings.notificationPingPath}) %>	
			   </div>
			</div>
			</fieldset>
			<%- form.submit('<i class="icon-ok icon-white"></i> Save Settings', {class: 'btn btn-primary pull-right'}) %>
		<% });%>
</div>
<div class="clear"></div>