<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("user_name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("userName") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("password", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("password", {type: 'password'}) %>
   </div>
</div>
<div class="control-group">
   <%- form.label("confirm password", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("confirm password", {type: 'password'}) %>
   </div>
</div>