<div class="well span5 offset3">
		<% form_for(user, {action: '/login', method: 'POST', id: "user_form", class: 'form-horizontal'}, function (form) { %>
  			<fieldset>
	    		<legend class="center">Login</legend>
	    		<div class="control-group">
	      			<label class="control-label" for="input01">User name</label>
	      			<div class="controls">
	       				<%- form.input("userName") %>
	      			</div>
	    		</div>
	    		<div class="control-group">
	      			<label class="control-label" for="input01">Password</label>
	      			<div class="controls">
		       			<%- form.input("password", {type:'password'}) %>
	      			</div>
	    		</div>
  			</fieldset>
			<div class="form-actions">
				<%- form.submit('Login', {class: 'btn btn-primary span1'}) %>
	        	<%- link_to('Signup', '/signup', {class: 'btn span1'}) %>
			</div>
		<% });%>
</div>
<div class="clear"></div>