<div class="well span5 offset3">
		<% form_for(user, {action: '/register', method: 'POST', id: "user_form", class: 'form-horizontal'}, function (form) { %>
			<fieldset>
			<legend class="center">Signup</legend>
		    <%- partial('user_management/form.ejs', {locals: {form: form, user: user}}) %>
		    <div class="form-actions">
		        <%- form.submit('Signup', {class: 'btn btn-primary span1'}) %>
		        <%- link_to('Cancel', '/login', {class: 'btn span1'}) %>
		    </div>
			</fieldset>
		<% });%>
</div>
<div class="clear"></div>