<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive') %>
        <%- javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap', 'rails', 'application') %>
        <%- csrf_meta_tag() %>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
					<a class="brand span12" style="text-align:center" href="#">ISS Live! Notification System</a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>
            
            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>
            <div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Filters</li>
							<li <%= (current_page=='active_filters')? 'class=active' : ""%>><a href="/filters"><i class="icon-flag"></i> Active Filters</a></li>
							<li <%= (current_page=='all_filters')? 'class=active' : ""%>><a href="/filters/all_filters"><i class="icon-folder-open"></i> All Filters</a></li>
							<li class="nav-header">Manage</li>
							<li <%= (current_page=='new_filter') ? 'class=active' : ""%>><a href="/filters/new_filter"><i class="icon-plus-sign"></i> New Filter</a></li>
							<li <%= (current_page=='notification_settings') ? 'class=active' : ""%>><a href="/filters/notification_settings"><i class=" icon-cog"></i> Notification Settings</a></li>
							<li><a href="/logout"><i class="icon-share"></i>logout</a></li>
						</ul>
					</div><!--/.well -->
				</div><!--/span-->
				<div class="span9">
			          <div class="row-fluid">
							<%- body %>
			          </div><!--/row-->
			        </div><!--/span-->
			      </div><!--/row-->
            <hr />
            <footer>
                <p>&copy; Company 2012</p>
            </footer>
        </div>
    </body>
</html>